@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

.album-art {
	width: 150px;
	height: auto;
	padding: 25px;
	color: white;
	border: 2px solid #E93A22;
	margin-top: 40px;
	float: left;
	margin-left: 50px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	width: 250px;
	height: auto;
	padding: 25px;
	color: white;
	border: 2px solid #E93A22;
	margin-top: 40px;
	float: left;
	margin-left: 50px;
	margin-right: 40px;
}

.record-label {
	font-style: italic;
	color: #E93A22;
}

.track-list {
	list-style-type: square;
}

#about-photo {
	height: auto;
	padding: 25px;
	color: white;
	border: 2px double #E93A22;
	float: left;
	margin: 20px;
}

#copyright {
	padding-top: 25px;
	color: #E93A22;
}

#section-about, #section-discography, #section-equipment {
	width: calc(100% - 90px);
	height: auto;
	padding: 25px;
	margin: 0 auto 0 auto;
	overflow: auto;
	color: white;
	border: 2px double #E93A22;
	margin-top: 40px;
}

#section-about {
	margin-bottom: -15px;
}

#text-intro {
	width: calc(100% - 90px);
	height: auto;
	padding: 20px;
	margin: 0 auto 0 auto;
	background-color: rgb(51, 51, 51);
	overflow: auto;
	color: #E93A22;
	border: 2px solid #E93A22;
}